@import "https://fonts.googleapis.com/css?family=Droid+Sans|Nobile:700i|Oswald:400,700";
body {
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px; }

.btn {
  font-size: 15px; }

.no-side-padding {
  padding-left: 0px;
  padding-right: 0px; }

.align-vert-wbutton {
  margin-top: 8px; }

.speed {
  background-color: #9ab06b; }

.attack {
  background-color: #d1171e; }

.diplomacy {
  background-color: #4c7bbd; }

.shields {
  background-color: #ebb21c; }

.hero {
  background-color: black;
  padding: 1em 0em;
  background-image: url("../img/spaceBG.png"); }
  .hero h1, .hero h2 {
    text-align: center;
    padding: 0em;
    margin: 0em;
    text-transform: uppercase;
    color: white; }
  .hero h1 {
    font-size: 3em;
    font-family: 'Nobile', sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6); }
    @media (min-width: 768px) {
      .hero h1 {
        font-size: 4em; } }
    @media (min-width: 1200px) {
      .hero h1 {
        font-size: 6em; } }
  .hero h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 3em; }
    @media (min-width: 768px) {
      .hero h2 {
        font-size: 3.6em; } }
    @media (min-width: 1200px) {
      .hero h2 {
        font-size: 4em; } }

.form-inline .stat-input {
  display: inline-block; }
  .form-inline .stat-input > input {
    width: 4.35em;
    padding: 6px 6px;
    color: black; }
    .form-inline .stat-input > input.speed-input {
      border-color: #9ab06b;
      background: #d3dcbe; }
    .form-inline .stat-input > input.attack-input {
      border-color: #d1171e;
      background: #f0777c; }
    .form-inline .stat-input > input.diplomacy-input {
      border-color: #4c7bbd;
      background: #a9c0df; }
    .form-inline .stat-input > input.shields-input {
      border-color: #ebb21c;
      background: #f5da91; }
    .form-inline .stat-input > input:focus {
      border-color: #909090; }
    .form-inline .stat-input > input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #505050; }
    .form-inline .stat-input > input::-moz-placeholder {
      /* Firefox 19+ */
      color: #505050; }
  .form-inline .stat-input .help-block {
    text-align: center;
    font-size: .85em; }

.stat-list .stat-box {
  color: white;
  font-weight: bold;
  text-align: center;
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
  font-size: .95em; }
  @media (min-width: 420px) {
    .stat-list .stat-box {
      font-size: 1.1em; } }
  @media (min-width: 992px) {
    .stat-list .stat-box {
      font-size: 1.25em; } }
  .stat-list .stat-box:first-child {
    border-left: 0px solid white; }
  .stat-list .stat-box:last-child {
    border-right: 0px solid white; }
  .stat-list .stat-box > span {
    display: block; }
